body{
    background: lightblue;
}

header{
    background: slateblue;
    text-align: center;
    line-height: 100px;
    color: greenyellow;
}

.center {
    display: flex;
    justify-content: center;
}